:root {
    --dc-colour__lightgray: #6C7A89;
    --dc-colour__darkgray: #34495E;
    --dc-colour__white: #D2D7D3;
    --dc-colour__paper: #AEA79F;
    --dc-colour__black:#333333;
    --dc-colour__orange: #E95420;
    --dc-colour__green: darkslategray;
}
